.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    transition: width 0.3s linear;
    position: relative;
}

.SidebarRedesigned {
    background: var(--light-bg-redesigned);
    width: 220px;
    height: 100%;
    border-radius: 32px;
}

.switchers {
    height: calc((100vh - var(--navbar-height)) / 6);
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.collapseBtn {
    position: absolute;
    right: -2rem;
    bottom: 2rem;
    z-index: 10;
}

.items {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.25rem;
}

.collapsed {
    width: var(--sidebar-width-collapsed);
}

.appLogo {
    padding-top: 20px;
}
