.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    transition: width 0.3s linear;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.collapsed {
    width: var(--sidebar-width-collapsed);
}

.switchers {
    height: calc((100vh - var(--navbar-height)) / 5);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
