.app_green_theme {
    --bg-color: #203a1b;
    --inverted-bg-color: #f5fbf4;
    --primary-color: #f5fbf4;
    --secondary-color: #f5fbf4;
    --inverted-primary-color: #1b1f0f;
    --inverted-secondary-color: #1b1f0f;
}
