.app_green_theme {
    --bg-color: #203a1b;
    --inverted-bg-color: #f5fbf4;
    --primary-color: #f5fbf4;
    --secondary-color: #f5fbf4;
    --inverted-primary-color: #1b1f0f;
    --inverted-secondary-color: #1b1f0f;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #4b853f;

    // card
    --card-bg: #4b853f;

    // listbox
    --listbox-bg: #4b853f;
}
