.ArticleDetailsPage {
    min-height: 100%;

    .ArticleDetailsPageHeader {
        margin-bottom: 16px;
    }
}

.recommendations {
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
}
