.navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    justify-content: end;
    align-items: center;
}

.loginBtn {
    margin-right: 1rem;
}
