.navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    justify-content: end;
    align-items: center;
}

.loginBtn,
.dropdown
{
    margin-right: 1rem;
    white-space: nowrap;
}
.appName {
    margin-right: auto;
    margin-left: 10px;
}
.createLink {
    margin-right: 10px;
}

