.Card {
    &.border-normal {
        border-radius: 12px;
    }

    &.border-round {
        border-radius: 40px;
    }

    &.border-partial {
        border-radius: 20px;
    }

    &.normal {
        background: var(--dark-bg-redesigned);
    }

    &.light {
        background: var(--light-bg-redesigned);
    }

    &.outline {
        border: 1px solid var(--accent-redesigned);
    }

    &.max {
        width: 100%;
    }

    &.padding_0 {
        padding: 0;
    }

    &.padding_8 {
        padding: 8px;
    }

    &.padding_16 {
        padding: 16px;
    }

    &.padding_24 {
        padding: 24px;
    }
}




