.StarRating {
    display: flex;

    .hovered {
        fill: var(--primary-color);
    }
}

.StarRatingRedesigned {
    display: flex;

    .hovered {
        fill: var(--icon-redesigned);
    }

    svg {
        path {
            stroke: var(--icon-redesigned);
        }
    }
}

.starIcon {
    fill: none;
    cursor: pointer;
}

.selected {
    cursor: auto;
}
