.CommentCard {
    padding: 10px;
    border: 1px solid var(--primary-color);
}

.avatar {
    margin-right: 10px;
    object-fit: cover;
}

.loading {
    border: none;
}

.header {
    display: flex;
}
