.CommentCard {
    padding: 10px;
    border: 1px solid var(--primary-color);
}

.header {
    display: flex;
    align-items: center;
}

.text {
    margin-top: 10px;
}

.avatar {
    margin-right: 10px;
    object-fit: cover;
}

.loading {
    border: none;
}
